MONGO_URI=mongodb://localhost:27017
MONGO_INITDB_ROOT_USERNAME=user
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_INITDB_DATABASE=drivn
MONGO_INITDB_PORT=27017
JWT_SECRET=change-me-to-a-random-32-char-string
PORT=3000
NODE_ENV=development
